/*FONT CDN  ______________________________*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/* font-family: "DM Sans", sans-serif; */


@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
/* font-family: "Cormorant Garamond", serif; */


@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css');
/* font-family: "NanumSquareAc", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: 'Raleway', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
/* font-family: 'Montserrat', sans-serif; */

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
/* font-family: 'Pretandard',sans-serif; */


/* ICON FONT ______________________________*/

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
/* font-family: 'Material Symbols Outlined'; */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
/* font-family: fontawesome; */

@import url('https://cdn.jsdelivr.net/npm/@xpressengine/xeicon@2.3.3/xeicon.min.css');
/* font-family: xeicon; */


/* helvetica */
/* font-family: "helveticaM", sans-serif; */
@font-face {
  font-family: "helveticaB";
  src: url("font/Helvetica Now Display Bold.woff") format('woff');
  font-weight: 700;
}

@font-face {
  font-family: "helveticaM";
  src: url("font/Helvetica Now Display Medium.woff") format('woff');
  font-weight: 500;
}

@font-face {
  font-family: "helveticaL";
  src: url("font/Helvetica Now Display Lt It.woff") format('woff');
  font-weight: 300;
}





/* <sandbox> */
@font-face{
  font-family: 'SB_B';
  src:url('font/sb_b.woff') format('woff'); 
}
@font-face{
  font-family: 'SB_M';
  src:url('font/sb_m.woff') format('woff'); 
}
@font-face{
  font-family: 'SB_L';
  src:url('font/sb_l.woff') format('woff');  
}

/* <나눔스퀘어> */
@font-face{
  font-family: 'Nanum_Square_EB';
  src:url('font/NanumSquareEB.woff') format('woff');  
}
@font-face{
  font-family: 'Nanum_Square_B';
  src:url('font/NanumSquareB.woff') format('woff');  
}
@font-face{
  font-family: 'Nanum_Square_M';  
  src:url('font/NanumSquareR.woff') format('woff');  
}
@font-face{
  font-family: 'Nanum_Square_L';  
  src:url('font/NanumSquareL.woff') format('woff');  
}

/* <Gmarket 산스 OTF> */
@font-face{
  font-family: 'GmS_B';
  src:url('font/GmarketSansBold.woff') format('woff');  
}
@font-face{
  font-family: 'GmS_M';  
  src:url('font/GmarketSansMedium.woff') format('woff');  
}
@font-face{
  font-family: 'GmS_L';  
  src:url('font/GmarketSansLight.woff') format('woff');  
}

/* NEXON Lv1 Gothic OTF */
@font-face{
  font-family: 'NEXON_Lv1_Gothic_B';
  src:url('font/NEXON Lv1 Gothic OTF Bold.woff') format('woff');  
}
@font-face{
  font-family: 'NEXON_Lv1_Gothic_M';
  src:url('font/NEXON Lv1 Gothic OTF.woff') format('woff');  
}
@font-face{
  font-family: 'NEXON_Lv1_Gothic_L';
  src:url('font/NEXON Lv1 Gothic OTF light.woff') format('woff');  
}

/* NEXON Lv2 Gothic OTF */
@font-face{
  font-family: 'NEXON_Lv2_Gothic_B';
  src:url('font/NEXON Lv2 Gothic Bold.woff') format('woff');  
}
@font-face{
  font-family: 'NEXON_Lv2_Gothic_M';
  src:url('font/NEXON Lv2 Gothic.woff') format('woff');  
}
@font-face{
  font-family: 'NEXON_Lv2_Gothic_L';  
  src:url('font/NEXON Lv2 Gothic light.woff') format('woff');  
}

/* 타이포 쌍문동 굴림 */
@font-face{
  font-family: 'typo_sg';
  src:url('font/Typo_SsangmundongGulimB.woff') format('woff');  
}