/* Footer  ______________________________________________________ */

footer{
  padding: 80px 30px;
  background-color: #0a0c0f;
}
footer .textWarp{
  color: #fff;
  display: flex;
  flex-direction: column;
}
footer .textWarp .title{
  font-size: 20px;
  margin-bottom: 30px;
}
footer .textWarp .contact{font-size: 50px;}
footer .textWarp .mail{font-size: 60px;margin-top: -30px;}

footer .textBottom{
  color: rgba(255,255,255,0.6);
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  letter-spacing: -1px;
  margin-top: 50px;
}
footer .textBottom .sns{display: flex;}
footer .textBottom .sns a span{font-size: 15px;}
footer .textBottom .sns img{
  display: inline-block;
  width: 26px;
  margin-right: 3px;
}
footer .textBottom .sns li{margin-right: 30px;}